<!doctype html>
<html>
    <head>
        <title>Meadowlark Js</title>
    </head>
    <body>
        <header>
            <img src="/img/logo.png" alt="Sample Meadowlark Logo">
        </header>
        {{{body}}}
    </body>
</html>